.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.formAuditSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2%;
}

.title {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.separator {
  width: 75%;
  height: 0.2em;
  background-color: #a5a5a5;
  border-radius: 8px;
  margin-bottom: 2%;
  display: none;
}

.title h3 {
  border-radius: 8px;
  padding: 1%;
}

.formInputsSection {
  background-color: #ffffff;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 4%;
}

.selectorAuditForm {
  display: grid;
  grid-template-columns: 1fr 0.25fr;
 
}

.selectorAuditForm label,
.selectorAuditForm select {
  margin: 0.6%;
}

.selectorAuditForm label {
  font-weight: 500;
  height: 1.5em;
   
}

.selectorAuditForm select {
  width: auto;
  border: 1px solid transparent;
  background-color: #f4f4f4;
  border-radius: 8px;
  transition: 0.25s;
}

.selectorAuditForm select:hover {
  transition: 0.25s;
  border: 1px solid #747bff;
  border-radius: 8px;
}

.selectorauditformselect select:focus,
.selectorauditformselect select:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
