.chartCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
  box-sizing: border-box;
}

.chartCard {
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  height: 100%;
}

.chartCardTitle {
  display: flex;
  width: 200px;
  height: fit-content;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 8px 8px 0 0;
  padding: 0.6em;
  color: rgb(33, 53, 71);
}

.chartCardSubSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: fit-content;
}

.chartCardContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.2em 1em 0.2em 1em;
}
.chartCardContent p {
  font-size: 0.8rem;
  font-weight: normal;
  color: rgb(199, 200, 199);
  margin: 0;
}
.chartCardContent span {
  font-size: 2.4rem;
  font-weight: bold;
  color: rgb(25, 118, 210);
}
