.titlePage {
  /* padding: 2% 0 2% 0; */
}
.header {
  display: flex;
  align-items: start;
  /* padding: 2%; */
}
.headerGrid {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.topHeaderGrid,
.bottomHeaderGrid {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em 1em 1em 0;
  width: 100%;
}

.HeaderData {
  padding: 0 0.7em 0 0.7em;
  height: auto;
}

.HeaderData {
  width: 100%;
}

.syntheseData {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.syntheseData h5,
.syntheseData p {
  margin: 0;
  width: 65px;
  text-align: center;
}
.syntheseData div {
  margin: 0 0.7em 0 0.7em;
}

.headerLink {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.headerLink div {
  margin: 0 0.7em 0 0.7em;
}

.anchorButton button {
  width: max-content;
}

.form {
  border-radius: 8px;
  padding: 2% 0 2% 0;
}

.inputContent {
  width: 100%;
}
