.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.formSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2%;
}

.title {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.separator {
  width: 75%;
  height: 0.2em;
  background-color: #a5a5a5;
  border-radius: 8px;
  margin-bottom: 2%;
  display: none;
}

.title h3 {
  border-radius: 8px;
  padding: 1%;
}

.formInputsSection {
  background-color: #ffffff;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 4%;
}

.selectorForm {
  display: grid;
  grid-template-columns: 1fr 0.25fr;
  align-items: center;
}

.asterisk {
  color: red;
}

.selectorForm label,
.selectorForm select,
.selectorForm input {
  margin: 0.6%;
}

.selectorForm .bloquantLabel {
  font-weight: 700;
  /* color: red; */
}

.selectorForm label {
  font-weight: 500;
  height: auto;
  border: 2px solid #f4f4f4;
  padding: 1%;
  border-radius: 8px;
}

.selectorForm select,
.selectorForm input {
  width: 100%;
  border: 1px solid transparent;
  background-color: #f4f4f4;
  border-radius: 8px;
  transition: 0.25s;
  height: 3em;
}

.selectorForm input {
  width: 96%;
}

.selectorForm select:hover,
.selectorForm input:hover {
  transition: 0.25s;
  border: 1px solid #747bff;
  border-radius: 8px;
}

.selectorauditformselect select:focus,
.selectorauditformselect select:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.submitSection {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 1%;
}

.loader {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #8b0000;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
